.popup-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 20rem;
  height: auto;
  text-align: center;
  font-size: 1.2rem;
}

.extra-top-padding {
  padding-top: 10rem;
}

.blurred-background {
  filter: blur(3px);
}

.button {
  font-size: 1.5rem;
  margin: 1rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
}

.game-over-div {
  margin-bottom: 2rem;
}

.go-home-btn {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  margin: 1rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.go-home-btn:hover {
  background-color: white;
  color: black;
}
