body {
  margin: 0;
  padding: 0;
  position: relative;
}

.image-container {
  width: 100%;
  height: auto;
}

.background-image {
  width: 100%;
  height: auto;
}

/* HEADER */

.character-icon {
  width: 6rem;
}

.character-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: fixed;
  margin: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  padding: 1rem 2rem;
  font-weight: bolder;
  line-height: 1.5;
}

p {
  margin: 0;
}

.single-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 4rem;
  align-items: center;
}

.timer {
  font-size: 1.5rem;
  border: 1px solid white;
  color: black;
  background-color: white;
  padding: 0.3rem 0.7rem;
  border-radius: 10px;
}

.custom-cursor {
  width: 50px; /* Diameter of the circle */
  height: 50px; /* Diameter of the circle */
  border: 2px solid red; /* Circle border color */
  border-radius: 50%;
  position: absolute;
  pointer-events: none; /* Prevent the cursor from interfering with click events */
  transform: translate(
    -50%,
    -50%
  ); /* Center the cursor at the mouse position */
  z-index: 1000; /* Make sure the cursor is above other elements */
}
