body {
    margin: 0;
    padding: 0;
    position: relative;
}

.image-container {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.background-image {
    width: 100%;
}

/* HEADER */

.character-icon {
    width: 6rem;
}

.character-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    position: fixed;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgb(88, 85, 85);
    padding: 1rem 2rem;
    opacity: .7;
    font-weight: bolder;
    line-height: 1.5;
}

p {
    margin: 0;
}

.single-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding-right: 4rem;
    align-items: center;
}